<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.doubango.imsdroid"
      android:versionCode="728" android:versionName="3.586.7778">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="11" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:persistent="true" android:name="IMSDroid" android:hardwareAccelerated="true">
    	<service android:name=".NativeService"></service>
    
        <activity android:name=".Main"
                  android:label="@string/app_name" android:launchMode="singleTop"
                  android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <receiver android:name="GlobalBroadcastReceiver" >
            <intent-filter>
                <action android:name="SendBedId" >
                </action>
            </intent-filter>
        </receiver>

        <activity android:name=".Screens.ScreenSplash"
            android:screenOrientation="landscape"/>
        <activity android:name=".Screens.ScreenHome"
            android:screenOrientation="landscape"/>
        <activity android:name=".Screens.ScreenTabDialer" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenTabHistory" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenTabInfo" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenTabContacts" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenTabOnline" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenAV" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenInterceptCall" android:screenOrientation="landscape">
        	<intent-filter>
<!--                <action android:name="android.intent.action.CALL" />-->
<!--                <category android:name="android.intent.category.DEFAULT"/>-->
<!--                <data android:scheme="sip" />-->
            </intent-filter>
        </activity> 
        <activity android:name=".Screens.ScreenSettings" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenTabMessages" android:screenOrientation="landscape" ></activity>
        <activity android:name=".Screens.ScreenGeneral" android:screenOrientation="landscape" ></activity>
        <activity android:name=".Screens.ScreenIdentity" android:screenOrientation="landscape" ></activity>
        <activity android:name=".Screens.ScreenNetwork" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenCodecs" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenSecurity" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenContacts" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenPresence" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenMessaging" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenNatt" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenQoS" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenAbout" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenChat" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenFileTransferQueue" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenFileTransferView" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenAVQueue" android:screenOrientation="landscape"></activity>
        <activity android:name=".Screens.ScreenChatQueue" android:screenOrientation="landscape"></activity>
        

    </application>
    
    <uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	
	<uses-feature android:glEsVersion="0x00020000" android:required="false" />
	<uses-feature android:name="android.hardware.camera" android:required="false" />
	<uses-feature android:name="android.hardware.audio.low_latency" android:required="false" />
	
</manifest>